name: practica/api-rest-world

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn clean install 
       
    - name: Login to Docker Hub
     uses: docker/login-action@v3
     with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/mi-app:latest .

    - name: Push image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/mi-app:latest

    
     
       

   

